@import "addons/jet-popup-action-button";
@import "addons/jet-popup-mailchimp";

.jet-popup.jet-popup--front-mode {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: stretch;
	z-index: 999;

	.jet-popup__inner {
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.jet-popup__overlay {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		opacity: 0;
		background-color: rgba( 0, 0, 0, 0.5);
	}

	.jet-popup__container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: stretch;
		width: 800px;
		max-width: 100%;
		max-height: 100%;
		height: auto;
		z-index: 2;
		opacity: 0;
	}

	.jet-popup__container-inner {
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;

		background-color: white;
		padding: 20px;
		z-index: 1;

		> .elementor {
			position: relative;
			z-index: 2;
		}
	}

	.jet-popup__container-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.jet-popup__close-button {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0px;
		right: 0px;
		cursor: pointer;
		z-index: 2;
		transition: all 0.2s ease;

		width: 30px;
		height: 30px;
		font-size: 20px;
		color: #fff;
		background-color: #6ec1e4;

		i {
			line-height: 1;
		}
	}

	&.jet-popup--hide-state {
		opacity: 0;
		pointer-events: none;

		.jet-popup__overlay {

		}

		.jet-popup__container {

		}
	}

	&.jet-popup--show-state {
		opacity: 1;
		pointer-events: auto;
	}

	&.jet-popup--animation-flip-x {
		perspective: 1000px;

		.jet-popup__container {
			transform-style: preserve-3d;
		}
	}

	&.jet-popup--animation-flip-y {
		perspective: 1000px;

		.jet-popup__container {
			transform-style: preserve-3d;
		}
	}

}

.jet-popup.jet-popup--single-preview {
	.jet-popup__overlay {
		opacity: 1;
	}

	.jet-popup__container {
		opacity: 1;
	}

	#wpadminbar {
	//	display: none;
	}
}

.single-jet-popup {
	background-image: url( '../image/transparent.jpg' );
	background-repeat: repeat;
	height: 100vh;
}

.jet-popup-cursor-pointer {
	cursor: pointer;
}
